
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

footer {
    background-color: #007bff;
    /* Bootstrap primary color */
    color: #ffffff;
    padding: 20px 0;
}

footer .container {
    text-align: center;
}

footer a {
    color: #ffffff;
    margin: 0 10px;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}
.navbar-brand, .nav-link {
font-size: 1.7em; 
}

.navbar-toggler-icon {
background-color: #ffffff; 
}
.accordion-button {
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  .accordion-button:hover {
    background-color: #5a6268; /* Slightly darker shade of the button's background */
    color: #f8f9fa; /* Lightens the text color */
  }
  
  .accordion-body img {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .accordion-body img:hover {
    transform: scale(1.05); /* Slightly enlarges the image */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a shadow */
  }
  /* Apply transitions to the accordion item for smooth hover effects */
.accordion-item {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  /* On hover, slightly lift the accordion item and add a shadow */
  .accordion-item:hover {
    transform: translateY(-3px); /* Lifts the accordion item up slightly */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow */
  }
  