



html, body {
    height: 100%;
  }
  .wrapper {
    min-height: 100%;
    /* Equal to height of footer */
    margin-bottom: -50px; /* Height of footer */
  }
  .footer {
    background-color: #3498db;
    color: #ffffff;
    padding: 20px;
    width: 100%;
  }
  .section-title {
    margin-top: 30px;
    margin-bottom: 20px;
}
.blue-background {
    background-color: rgb(174, 215, 247);
    padding: 20px;
    border-radius: 5px;
}
.icon-link {
    color: white;
    margin: 0 10px;
    font-size: 24px;
}
.navbar-brand, .nav-link {
  font-size: 1.7em; 
}

.navbar-toggler-icon {
  background-color: #ffffff; 
}
.btn-download {
  font-size: 1.5em; /* Increase font size */
  padding: 0.75em 1.5em; /* Adjust padding */
}

.btn-download i {
  font-size: 1.25em; /* Increase icon size */
  margin-right: 0.5em; /* Space between icon and text */
}
.profile-pic {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.contact-card {
  background-color: #f8f9fa;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}
.linkedin-button {
  background-color: #0077b5;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  display: inline-flex;
  align-items: center;
  transition: background-color 0.3s ease, transform 0.3s ease;
}
.linkedin-button svg {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
.linkedin-button:hover {
  background-color: #005582;
  color: #fff;
  transform: scale(1.05);
  text-decoration: none;
}

.flex-fill {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.linkedin-button {
  margin-top: auto;
}

.btn-success {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-success:hover {
  background-color: #28a745; 
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}
.btn-primary {
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0069d9;
  transform: translateY(-3px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
